<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot blog</title>
</head>
<body>

    <h1 th:text="#{blog.title}"></h1>

    <form th:object="${post}" th:action="@{/posts}" method="post">

        <div>
            <label for="title" th:text="#{blog.label.title}"></label>
            <input id="title" th:field="${post.title}" type="text">
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="${post.title}">
                Invalid Title
            </div>
        </div>
        <div>
            <label for="description" th:text="#{blog.label.description}"></label>
            <input id="description" th:field="${post.description}" type="text">
            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="${post.description}">
                Invalid Description
            </div>
        </div>
        <div>
            <label for="body" th:text="#{blog.label.body}"></label>
            <textarea id="body" th:field="${post.body}" type="text"></textarea>
            <div style="color:red" th:if="${#fields.hasErrors('body')}" th:errors="${post.body}">
                invalid body
            </div>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>

    <form action="uploadMyFile" th:action="@{/uploadMyFile}" method="post" enctype="multipart/form-data">
        <input type="file" name="myFile" />
        <input type="submit" />
    </form>

</body>
</html>